.container-fluid {
	margin:0 !important;
	padding:0 !important;
}

.nav a{
	background-color: #B0EBF9;
	color: #FFFFFF;
}

.centrar {
	text-align: center;
}

.justificar {
	text-align: justify;
}

.izq {
	text-align: left;
  }

#IESSANISIDRO{
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #000000;
	padding-top:5px;
}

.activo{
	color:  #02a8d1 !important;
}

#IESSANISIDRO a{
	color: #000000;
	text-decoration:none;
}

#persona{
	display: inline-block;
	text-align: right;
}

#persona2{
	display: inline-block;
	text-align: left;
	background-color: #c3c3c3;
}

hr {
	border-color:grey;
}

.ancho {
	width: 100%;
}

.gris {
    color: #cdcdcd;
}

.negro {
	color: #000000;
}

#cerrarSesion:hover {
	cursor: pointer;
  }

.google-maps {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}