.box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

#texto a{
  text-decoration:none;
  color: #02a8d1;
}