@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j8jir');
  src:  url('fonts/icomoon.eot?j8jir#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j8jir') format('truetype'),
    url('fonts/icomoon.woff?j8jir') format('woff'),
    url('fonts/icomoon.svg?j8jir#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-book:before {
  content: "\e91f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
